<html>

<head>
	<title>PI BOT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	
<body>

<center>

<img src="http://192.168.0.108:8080/video" width="300px" height="300px"> 

<table>

<tr>
	<td>
	<form action="/1" method="POST">
	<input type="image" src="/static/img/on.png" value="left" style="float:left; width:80% ;">
	</br>
	</form>
	</td>
	
	<td>
	<form action="/2" method="POST">
	<input type="image" src="/static/img/front.png" value="left" style="float:left; width:80% ;">
	</br>
	</form>
	</td>
	
	<td>
	<form action="/3" method="POST">
	<input type="image" src="/static/img/off.png" value="left" style="float:left; width:80% ;">
	</br>
	</form>
	</td>
</tr>

<tr>
	<td>
	<form action="/4" method="POST">
	<input type="image" src="/static/img/left.png" value="left" style="float:left; width:80% ;">
	</br>
	</form>
	</td>
	
	<td>
	<form action="/5" method="POST">
	<input type="image" src="/static/img/stop.png" value="left" style="float:left; width:80% ;">
	</br>
	</form>
	</td>
	
	<td>
	<form action="/6" method="POST">
	<input type="image" src="/static/img/right.png" value="left" style="float:left; width:80% ;">
	</br>
	</form>
	</td>
</tr>

<tr>
	<td>
	<form action="/7" method="POST">
	<input type="image" src="/static/img/on.png" value="left" style="float:left; width:80% ;">
	</br>
	</form>
	</td>
	
	<td>
	<form action="/8" method="POST">
	<input type="image" src="/static/img/back.png" value="left" style="float:left; width:80% ;">
	</br>
	</form>
	</td>
	
	<td>
	<form action="/9" method="POST">
	<input type="image" src="/static/img/off.png" value="left" style="float:left; width:80% ;">
	</br>
	</form>
	</td>
</tr>

</table>

</center>

</body>

</html>